/*style.css*/
body{
    font-family: Arial,sans-serif;
    background-color: f4f4f4;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    width: 600px;
    padding: 20px;
    background-color: lightgray;
    box-shadow: 0 0 0 rgba(0 ,0 ,0 ,0.1);
    overflow-y: auto;
    max-height: 90vh;
    position: relative;
}
.form-container, .form, .templates {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-toggle {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.form-toggle button {
    width: 50%;
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.form-toggle button:hover {
    background-color: #0056b3;
}
.form {
    width: 100%;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;
    position: absolute;
}

.form h2, #preview-section h2, #profile-section h2, #template-section h2, #resume-section h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form label, .form textarea {
    margin-bottom: 5px;
    width: 100%;
}

.form input, .form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}
.form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #0056b3;
}
.template-btn {
    margin: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.template-btn:hover {
    background-color: #0056b3;
}
#resume-preview {
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
}

#export-btn {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}
#export-btn:hover {
    background-color: #218838;
}
